In [78]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [200]:
df1 = pd.read_csv('HumanObserved-Features-Data.csv', usecols = range(1, 11))
df2 = df1
df1.head()

  img_id  f1  f2  f3  f4  f5  f6  f7  f8  f9
0  0359a   2   1   1   0   2   2   0   2   2
1  0577a   2   1   1   0   2   2   0   1   2
2  1120a   2   1   1   3   2   2   0   2   2
3  1120b   1   1   1   0   2   2   0   2   2
4  1120c   2   1   1   0   2   2   0   0   2

In [80]:
# df['c'] = pd.Series( (v[:-1] for v in df['img_id']) )
df['img'] = [v[:-1] for v in df['img_id']]
df['id'] = [v[-1] for v in df['img_id']]

In [201]:
# for i in df1['img_id']:
#     for j in df2['img_id']
#     #if i[:-1] = j[:-1]:
#         df1[i] + 

# for i in df1.index:
#     a = df1.iloc[i].append(df2)
#     d.append(a)


# columns = [{'img_id': df1.iloc[i][0] ,'f1':df1.iloc[i][1], 'f2':df1.iloc[i][2],'f3':df1.iloc[i][3],'f4':df1.iloc[i][4],
#            'f5':df1.iloc[i][5], 'f6':df1.iloc[i][6],'f7':df1.iloc[i][7],'f8':df1.iloc[i][8], 'f9':df1.iloc[i][9] }]

# d = pd.DataFrame(columns, index = df1.index)

In [202]:
d_new = pd.DataFrame()
for i in range(len(df1.index)):
    columns = [{'img_id': df1.iloc[i][0] ,'f1':df1.iloc[i][1], 'f2':df1.iloc[i][2],'f3':df1.iloc[i][3],'f4':df1.iloc[i][4],
           'f5':df1.iloc[i][5], 'f6':df1.iloc[i][6],'f7':df1.iloc[i][7],'f8':df1.iloc[i][8], 'f9':df1.iloc[i][9] }]

    d = pd.DataFrame(columns, index = df1.index)
    d_conc = pd.concat([df1, d], axis = 1 )
    d_new = pd.concat([d_new, d_conc])

In [208]:
d_new = d_new.reset_index(drop = True)
col = ['img_id_a', 'fa1', 'fa2','fa3','fa4','fa5','fa6','fa7','fa8', 'fa9', 'fb1', 'fb2','fb3','fb4','fb5','fb6','fb7','fb8', 'fb9','img_id_b']
d_new.columns = col
d_new.head()

,img_id_a,fa1,fa2,fa3,fa4,fa5,fa6,fa7,fa8,fa9,fb1,fb2,fb3,fb4,fb5,fb6,fb7,fb8,fb9,img_id_b
0,0359a,2,1,1,0,2,2,0,2,2,2,1,1,0,2,2,0,2,2,0359a
1,0577a,2,1,1,0,2,2,0,1,2,2,1,1,0,2,2,0,2,2,0359a
2,1120a,2,1,1,3,2,2,0,2,2,2,1,1,0,2,2,0,2,2,0359a
3,1120b,1,1,1,0,2,2,0,2,2,2,1,1,0,2,2,0,2,2,0359a
4,1120c,2,1,1,0,2,2,0,0,2,2,1,1,0,2,2,0,2,2,0359a

In [ ]:
### pandas code

def process_data(data, X = 'A'):
    c = pd.DataFrame()
    for i in range(len(data['img_id_' + X])):
        for j in range(len(df['img_id'])):
            if df['img_id'][j] == data['img_id_'+ X][i] :
                d = pd.DataFrame(df.iloc[j])
                c = pd.concat([c, d], axis = 1)
    
    return c.T.reset_index(drop = True)


A_same = process_data(same_pairs, X = 'A')
B_same = process_data(same_pairs, X = 'B')
col_same = ['img_id_a', 'fa1', 'fa2','fa3','fa4','fa5','fa6','fa7','fa8', 
       'fa9', 'img_id_b', 'fb1', 'fb2','fb3','fb4','fb5','fb6','fb7','fb8', 'fb9']

Data_same = pd.concat([A_same, B_same], axis = 1)
Data_same.columns = col
Data_same = Dat_same[['img_id_a', 'img_id_b','fa1', 'fa2','fa3','fa4','fa5','fa6','fa7','fa8', 
       'fa9',  'fb1', 'fb2','fb3','fb4','fb5','fb6','fb7','fb8', 'fb9']]
Data_same['target'] = same_pairs['target']
Data_same.head()


A_diff = process_data(diff_pairs, X = 'A')
B_diff = process_data(diff_pairs, X = 'B')
col = ['img_id_a', 'fa1', 'fa2','fa3','fa4','fa5','fa6','fa7','fa8', 
       'fa9', 'img_id_b', 'fb1', 'fb2','fb3','fb4','fb5','fb6','fb7','fb8', 'fb9']

Data_diff = pd.concat([A_diff, B_diff], axis = 1)
Data_diff.columns = col
Data_diff = Dat_same[['img_id_a', 'img_id_b','fa1', 'fa2','fa3','fa4','fa5','fa6','fa7','fa8', 
       'fa9',  'fb1', 'fb2','fb3','fb4','fb5','fb6','fb7','fb8', 'fb9']]
Data_diff['target'] = diff_pairs['target']
Data_diff.head()